.header{
    height: 5em;
    background-color: aquamarine;
    display: flex;
}
#logo{
    height: 2em;
    width: 25%;
    align-self: center;
}
#nav{
    width: 75%;
    text-align: end;
    align-content: center;
    padding-right: 5em;
}
#nav a{
    text-decoration: none;
    color: black;
    margin:6%;
}
#hamberger{
    display: none;
    text-align: center;
    align-content: center;
    padding-right: 2em;
    font-size: x-large;
    text-decoration: none;
}
@media(max-width: 700px){
    #nav a{
    margin: 4%;
}
}
@media(max-width: 450px){
    #nav a{
    display: none;
}
#hamberger{
    display: block;
}
}
