.header{
    height: 5em;
    background-color: aquamarine;
    display: flex;
}
#logo{
    height: 2em;
    width: 25%;
    align-self: center;
}
#nav{
    width: 75%;
    padding-left: 25em ;
    text-align: center;
    align-content:center;
}
#nav a{
    text-decoration: none;
    color: black;
    margin: 8%;
}